{% extends 'base.html' %}

{% block content %}
<h1>{{ idea.title }}</h1>
<img src="{{ idea.image.url }}" alt="{{ idea.title }}" class="thumbnail">
<p>{{ idea.content }}</p>
<p>Interest: {{ idea.interest }}</p>
<p>DevTool: <a href="{{ idea.devtool.get_absolute_url }}">{{ idea.devtool.name }}</a></p>
<a href="{{ idea.get_absolute_url }}/update/">Edit</a>
<form action="{{ idea.get_absolute_url }}/delete/" method="post" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>
<a href="/">Back to List</a>
{% endblock %}