{% extends 'pirostagram.html' %}
{% load static %}

{% block content %}
    <div class="main__container">
        {% for post in posts %}
            <div class="card post__container post-id-{{ post.id }}">
                <div class="card-body">
                    <div class="card-title">{{ post.title }}</div>
                    <div class="card-text">{{ post.content}}</div>
                    <div class="btn btn-primary post__like" onclick="onClickLike({{post.id}}, 'like')">Like {{ post.like }}</div>
                    <div class="btn btn-primary post__dislike" onclick="onClickLike({{post.id}}, 'dislike')">Dislike {{ post.dislike }}</div>
                </div>
            </div>
        {% endfor %}
    </div>  ``
{% endblock %}