{% extends 'base.html' %}

{% block content %}
<h1>DevTools List</h1>
<div class="devtool-container">
    {% for devtool in devtools %}
    <div class="devtool-item">
        <h2><a href="{{ devtool.get_absolute_url }}">{{ devtool.name }}</a></h2>
        <p>Kind: {{ devtool.kind }}</p>
        <p>{{ devtool.content }}</p>
    </div>
    {% endfor %}
</div>
<div class="pagination">
    {% if devtools.has_previous %}
    <a href="?page={{ devtools.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ devtools.number }} of {{ devtools.paginator.num_pages }}</span>
    {% if devtools.has_next %}
    <a href="?page={{ devtools.next_page_number }}">Next</a>
    {% endif %}
</div>
{% endblock %}