body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 10px 40px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.site_name{
    margin-right: 30px;
}

main {
    padding: 20px;
}

.idea-list, .devtool-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.idea-item, .devtool-item {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
}

.idea-thumbnail {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.star-btn i {
    font-size: 24px;
    cursor: pointer;
}

.star-btn i.ri-star-fill {
    color: yellow; /* 찜한 상태는 노란색 */
}

.star-btn i.ri-star-line {
    color: gray; /* 찜하지 않은 상태는 회색 */
}

.btn:hover {
    background-color: #0056b3;
}
